<h1>Product</h1>
<table class="table table-hover" style="width: 60%">
  <tr>
      <th>Name</th>
      <td><input type="text" id="name" /></td>
  </tr>
  <tr>
      <th>Price</th>
      <td><input type="text" id="price" /></td>
  </tr>
  <tr>
      <th>Capacity</th>
      <td><input type="text" id="capacity" /></td>
  </tr>
  </tr>
  <tr>
      <th>Available</th>
      <td>
        <select id="available">
          <option value="true">Available</option>
          <option value="false">Unavailable</option>
        </select>
      </td>
  </tr>
  <tr>
    <td>
      <a class="create">Create Product</a>
    </td>
    <td>
      <a class="back">Back</a>
    </td>
  </tr>
</table>
