<h1>Product</h1>
<table class="table table-hover" style="width: 60%">
  <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Available</th>
  </tr>
  <tr>
    <td><%= name %></td>
    <td><%= price %></td>
    <td><%= capacity %></td>
    <td><%= available %></td>
  </tr>
</table>
<a class="back">Back</a>
